body {
    margin: auto; 
    padding-top: 20px; 
    max-width: 800px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

hr {
    background-color: #9f0a9c;
    height: 3px;
    color: #000;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-top: 0px;
}

ul {
    padding-inline-start: 0px;
}

li {
    max-width: 130px;
    padding-left: 0px;
    display: flex;
    line-height: 40px;
    align-items: center;
    border-radius: 28px;
}

li p {
    margin: 0;
}

.social__resource li:hover {
    background-color: #9f0a9c;
    transition: 0.5s;
}

li img {
    margin-right: 10px;
}

pre {
    margin: 0 0 0 0;
    padding: 10px;
}

.header__inner {
    /* color: #000; */
    /* display: flex; */
    text-align: center;
    align-items: center;
    margin: auto;
}

.logo__img {
    max-height: 150px;
    border-radius: 100px;
}

.info__inner {
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 15px;
}

.info__inner .text{
    width: 33%;
}

.lang {
    max-width: 150px;
}

.skills__inner {
    display: flex;
}

.skills__list {
    min-width: 40%;
}

.code__example {
    text-align: left;
}

.code {
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
}